<div class="row text-center">
  <div class="col-2">
  </div>

  <div class="col-8">
  </div>

  <div class="col-2">
  </div>
</div>

<div class="container bg-info">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Event Name</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Pool House Check-In" id="example-text-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Location</label>
    <div class="col-10">
      <input class="form-control" type="search" placeholder="2202 Palo Verde Rd, Irvine CA" id="example-search-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date</label>
    <div class="col-10">
      <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
    </div>
  </div>


  <div class="form-group row">
    <label for="example-time-input" class="col-2 col-form-label">Time</label>
    <div class="col-10">
      <input class="form-control" type="time" value="13:45:00" id="example-time-input">
    </div>
  </div>
</div>
