<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Check Me In App</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">

      <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a *ngIf="loggedIn" class="nav-link dropdown-toggle"
           data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Dashboard</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"  routerLink="/viewevents">My Events</a>
          <a class="dropdown-item" routerLink="/addevent">Create Event</a>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a *ngIf="loggedIn" class="nav-link" routerLink="/eventinvites">
          Event Invites
          <span class="badge badge-pill badge-danger m-l-3">  5</span>
        </a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="!loggedIn" class="btn btn-outline-success my-2 my-sm-0" (click)="routeClick('returningUser')">Login</button>
      <button *ngIf="!loggedIn" class="btn btn-outline-success my-2 my-sm-0 m-l-5" (click)="routeClick('newUser')">Sign Up</button>
      <button *ngIf="loggedIn"  class="btn btn-outline-success my-2 my-sm-0" (click)="routeClick('logout')">Logout</button>
    </form>

  </div>
</nav>
