<div class="container-fluid dashboard-bg">
  <app-linear-gauge-chart *ngIf="isEventSelected"></app-linear-gauge-chart>
  <app-spinner *ngIf="!isEventSelected"></app-spinner>

  <div class="row">

    <div class="col-6">
      <h3>Event Title: {{eventTitle}}</h3>
    </div>

    <div class="form-group col-4">
      <form>
        <select class="form-control form-control-sm"
                required
                name = "dropDown"
                ngModel
                #selectedValue = "ngModel"
                (change)="changeEvent(selectedValue)"
        >
          <option value="" disabled selected>Select An Event To View</option>
          <option *ngFor="let event of eventChoices | async" [value]="event">{{event}}</option>
        </select>
      </form>
    </div>

    <div class="col-2 text-right">
      <button type="button" class="btn btn-success m-5">Add</button>
    </div>

  </div>


  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID#</th>
        <th>Name</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let attendee of attendeeList | async">
        <td>{{attendee.id}}</td>
        <td>{{attendee.name}}</td>
        <td [ngClass]="{'not-signed-in': !attendee.checkIn,
                              'signed-in': attendee.checkIn}">
          {{attendee.checkIn}}</td>
        <th>Delete</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
